body {
    font-family: 'Helvetica';
    /* font-size: 20px; */
}

.form-control {
    /*border-color: #499F09;*/
    border-color: rgba(120, 163, 86, 0.4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgb(73, 159, 9, 0.6);
}

.no-space {
    margin: 0 !important;
    padding: 0 !important; 
}

.transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.disabled {
    /*padding: 0 10px !important;*/
    pointer-events: none;
}

.photo_section {
    background-color: #825D63; 
    border-bottom: solid 8px #499F09;
    margin-top: 80px;
}

#photo {
    float: right;
    margin-top: -70px;
    background-color: green;
    height: 167px;
    width: 147px;
    border: 1px solid #499F09;
}